@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=East+Sea+Dokdo&display=swap');

* {
    font-family: sans-serif;
    font-size: 1.1rem;
}


.title {
    color: black;
    background-color: rgba(255, 185, 55, 0.962);
    font-size: 24px;
    padding: 4px 14 px;
    border-radius: 8px;
}

.bg {
    width: 360px;
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/bucketList/bg-grid.png");
}


.msg {
    font-weight: bold;
}


.bucket {
    font-size: 25px;
    width: 160px;
    height: 160px;
}

.img1 {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/bucketList/bucket-red.png");
    background-size: cover;
    background-position: center;
}

.img2 {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/bucketList/bucket-lightred.png");
    background-size: cover;
    background-position: center;
}